<div class="e-background">
	<div class="event-header">
		<h1>
			Event Schedule
		</h1>
		<%=link_to "Create A Local Event?", new_event_path %>
		<br>
	</div>
	<div class="regional">
			<h1 class="region-header col-md-12 text-center">
				All Regional Events:
			</h1>
		<div class="Region-details">
		<% @AdminEvents.each do |e| %>

			<div>
				<%= hidden_field_tag :event_id, e.id %>
			</div>
			<h3>
				- - -<%= e.event_name %>- - -
			</h3>
			

			<h4>
				Level: 
			</h4>
			<h3 class="label">
				<%= e.event_type %>
			</h3>
			<h4>
				Format: 
			</h4>
			<h3 class="label">
				<%= e.format %>
			</h3>
			<h4>
				Where: 
			</h4>
			<h3 class="label">
				<%= e.venue %>
			</h3>
			<h4>
				When: 
			</h4>
			<h3 class="label">
				<%= e.date %>
			</h3>
			<h4>	
				RSVP:
			</h4>
			<div id="favorite_form-<%=e.id%>">
				<% if current_user.userevents.find_by(id: e.id) %>
					<%= form_for(current_user.userevents.find_by(id: e.id), url: userfollowevents_path, remote: true,  html: { method: :delete }) do |f| %>
						<div>
							<%= hidden_field_tag :event_id, e.id %>
						</div>
						<%= f.submit "Not Going", class: "btn btn-primary" %>
					<% end %>
				<% else %>
					<%= form_for(current_user.userfollowevents.build, remote: true) do |f| %>
							<div>
								<%= hidden_field_tag :event_id, e.id %>
							</div>
							<%= f.submit "I'll be there", class: "btn btn-primary" %>
					<% end %>
				<% end %>
			</div>
				<% if e.admin == true && current_user.admin == true %>
					<%=link_to "Delete this event (Admin privilege only)", event_path(e), method: :delete %>
				<% end %>
			<% end %>
		</div>
	</div>

	<div class="local-header">
		<h2>All Local Events:</h2>
	</div>
	<% @LocalEvents.each do |e| %>

		<div>
			<%= hidden_field_tag :event_id, e.id %>
		</div>

		<h3>
			Event Name: 
		</h3>
		<%= e.event_name %>

		<h3>
			Event Type: 
		</h3>
		<%= e.event_type %>

		<h3>
			Format: 
		</h3>
		<%= e.format %>

		<h3>
			Venue: 
		</h3>
		<%= e.venue %>

		<h3>
			Date: 
		</h3>
		<%= e.date %>

	<div id="favorite_form-<%=e.id%>">
		<% if current_user.userevents.find_by(id: e.id) %>
			<%= form_for(current_user.userevents.find_by(id: e.id), url: userfollowevents_path, remote: true,  html: { method: :delete }) do |f| %>
				<div>
					<%= hidden_field_tag :event_id, e.id %>
				</div>
				<%= f.submit "Not Going", class: "btn" %>
			<% end %>
		<% else %>
			<%= form_for(current_user.userfollowevents.build, remote: true) do |f| %>
					<div>
						<%= hidden_field_tag :event_id, e.id %>
					</div>
					<%= f.submit "I'll be there", class: "btn btn-primary" %>
			<% end %>
		<% end %>
		<% if e.user_id == current_user.id || current_user.admin == true %>
			<%=link_to "Delete this event (Creator privilege only)", event_path(e), method: :delete %>
		<% end %>
	</div>
	<% end %>
</div>